<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}}</title>
  </head>
  <body>
    <div id="counter">
      <img src="/src/assets/oBerry.svg" />
      <h1>oBerry + JavaScript</h1>
      <h1 id="counter-value">0</h1>
      <span id="buttons">
        <button id="decrement-btn">-</button>
        <button id="increment-btn">+</button>
      </span>
    </div>

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
